DB_URL=jdbc:postgresql://localhost:5432/moly
DB_USERNAME=
DB_PASSWORD=

REDIS_HOST=
REDIS_PORT=
REDIS_DATABASE=
JWT_SECRET=
JWT_ACCESS_EXPIRATION_MS=

KAKAO_REST_API_KEY=

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET=
